.header{
    height:34vw;
    margin:30px auto;
    background: url('/header_img.png') no-repeat
    center;
    background-size: cover;
    position:relative;
    border-radius: 20px;
    overflow:hidden;
    min-height:220px;
}



.header-contents{
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items:start;
    gap:16px;
    max-width:50%;
    bottom:10%;
    left:6vw;
    animation:fadeIn 3s;
    z-index:1;
}

.header-contents h2{
    font-weight:500;
    color:white;
    font-size:clamp(22px,4vw,48px);
}

.header-contents p{
    color:white;
     font-size: clamp(13px, 1.2vw, 16px);
}

.header-contents button{
    border:none;
    border-radius:50px;
     padding: 12px 26px;
    color: #747474;
    font-weight:500;
     font-size: 14px;
    background-color:white;
    cursor:pointer;
    transition:0.3s;
}
@media(max-width:1050px){
    .header-contents{
        max-width:45%;
    }
}
@media(max-width:750px){
    
    .header-contents{
        max-width:65%;
    }
    .header-contents p{
        display:none;
    }
    .header-contents button{
        padding:14px 32px;
    }
}